<nav class="menu">
    <a aria-current="page" href="/index.html"
        class="menu__item {% if page.url == '/' %} menu__item--active {% endif %}"> Projecten </a>
    <a href="/film.html" class="menu__item {% if page.url == '/film.html' %} menu__item--active {% endif %}"> Film </a>
    <a href="/fotografie.html" class="menu__item {% if page.url == '/fotografie.html' %} menu__item--active {% endif %}"> Fotografie </a>
    <a href="/essays.html" class="menu__item {% if page.url == '/essays.html' %} menu__item--active {% endif %}"> Essays </a>
    <a href="/beeldend.html" class="menu__item {% if page.url == '/beeldend.html' %} menu__item--active {% endif %}"> Beeldende Kunst </a>
    <a href="/about.html" class="menu__item {% if page.url == '/about.html' %} menu__item--active {% endif %}"> Over mij </a>
</nav>